<a href="https://colab.research.google.com/github/annajolt/Challenge_13/blob/main/GC_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [3]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

file_path = Path("/content/drive/MyDrive/Challenge_13/Resources/applicants_data.csv")

In [4]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(file_path)

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [6]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(['EIN','NAME'], axis=1)

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [7]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)
# Display the categorical variables list
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [9]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [10]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data,
                          columns=enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [11]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df.drop(columns=categorical_variables), encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [12]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [13]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame

X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [14]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [15]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [16]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [17]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [18]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  58

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [19]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  29

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [20]:
# Create the Sequential model instance
nn = Sequential()

In [21]:
# Add the first hidden layer

nn.add(Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

In [22]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [23]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="linear"))

In [24]:
# Display the Sequential model summary
display(nn.summary())

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

None

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [25]:
# Compile the Sequential model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics='accuracy')

In [26]:
# Fit the model using 50 epochs and the training data
model_1 = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9939 - accuracy: 0.6949
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.9009 - accuracy: 0.7169
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 1.0454 - accuracy: 0.7076
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.9398 - accuracy: 0.7211
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8978 - accuracy: 0.7194
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8908 - accuracy: 0.7151
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9044 - accuracy: 0.7223
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.8862 - accuracy: 0.7204
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8788 - accuracy: 0.7198
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8527 - accuracy: 0.7207
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8273 - accuracy: 0.7262
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8114 - accuracy: 0.7262
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7870 - accuracy: 0.7234
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7747 - accuracy: 0.7279
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7693 - accuracy: 0.7282
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7797 - accuracy: 0.7250
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7717 - accuracy: 0.7251
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7645 - accuracy: 0.7285
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7603 - accuracy: 0.7288
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7735 - accuracy: 0.7205
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7542 - accuracy: 0.7310
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7423 - accuracy: 0.7305
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7512 - accuracy: 0.7320
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7381 - accuracy: 0.7316
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7404 - accuracy: 0.7316
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7362 - accuracy: 0.7310
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7403 - accuracy: 0.7301
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7136 - accuracy: 0.7295
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6963 - accuracy: 0.7320
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7083 - accuracy: 0.7305
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.7327
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7038 - accuracy: 0.7253
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7217 - accuracy: 0.7290
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6966 - accuracy: 0.7332
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6978 - accuracy: 0.7329
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6974 - accuracy: 0.7322
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6804 - accuracy: 0.7291
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6843 - accuracy: 0.7320
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6746 - accuracy: 0.7301
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6789 - accuracy: 0.7187
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6443 - accuracy: 0.7316
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6285 - accuracy: 0.7304
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6255 - accuracy: 0.7317
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6314 - accuracy: 0.7335
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6279 - accuracy: 0.7322
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6295 - accuracy: 0.7319
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6441 - accuracy: 0.7315
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6276 - accuracy: 0.7313
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6223 - accuracy: 0.7329
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6133 - accuracy: 0.7342

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [27]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5990 - accuracy: 0.7301 - 435ms/epoch - 2ms/step
Loss: 0.599017322063446, Accuracy: 0.7301457524299622

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [28]:
# Set the model's file path
file_path = file_path = 'AlphabetSoup.h5'

# Export your model to a HDF5 file
nn.save_weights(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [29]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [30]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [31]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 58

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [32]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = 29

In [33]:
# define number of hidden nodes for third layers

hidden_noted_layer3_A1 = 14

In [34]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [35]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, activation="relu", input_dim=number_input_features))

# second hidden layer

nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))

# third hidden layer
nn_A1.add(Dense(units=hidden_noted_layer3_A1, activation='relu'))

# Output layer
nn_A1.add(Dense(units=number_output_neurons, activation="sigmoid"))

# Check the structure of the model
display(nn_A1.summary())

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dense_4 (Dense)             (None, 29)                1711

 dense_5 (Dense)             (None, 14)                420

 dense_6 (Dense)             (None, 1)                 15

=================================================================
Total params: 8,932
Trainable params: 8,932
Non-trainable params: 0
_________________________________________________________________

None

In [37]:
# Compile the Sequential model
nn_A1.compile(optimizer='adam', loss='mean_squared_error', metrics='accuracy')

In [38]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1939 - accuracy: 0.7170
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1862 - accuracy: 0.7300
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1849 - accuracy: 0.7320
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1838 - accuracy: 0.7333
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1834 - accuracy: 0.7337
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1828 - accuracy: 0.7347
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1824 - accuracy: 0.7352
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1821 - accuracy: 0.7358
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1819 - accuracy: 0.7344
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1815 - accuracy: 0.7360
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1816 - accuracy: 0.7368
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1813 - accuracy: 0.7375
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1810 - accuracy: 0.7367
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1805 - accuracy: 0.7387
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1806 - accuracy: 0.7382
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1805 - accuracy: 0.7379
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1804 - accuracy: 0.7384
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1801 - accuracy: 0.7388
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1800 - accuracy: 0.7391
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1801 - accuracy: 0.7398
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1797 - accuracy: 0.7393
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1798 - accuracy: 0.7385
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1795 - accuracy: 0.7396
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1796 - accuracy: 0.7392
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1793 - accuracy: 0.7404
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1794 - accuracy: 0.7396
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1795 - accuracy: 0.7408
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1793 - accuracy: 0.7399
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1791 - accuracy: 0.7406
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1790 - accuracy: 0.7399
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1791 - accuracy: 0.7404
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1788 - accuracy: 0.7404
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1790 - accuracy: 0.7411
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1789 - accuracy: 0.7407
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1787 - accuracy: 0.7412
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1786 - accuracy: 0.7400
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1785 - accuracy: 0.7406
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1785 - accuracy: 0.7405
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1784 - accuracy: 0.7414
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1787 - accuracy: 0.7403
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1782 - accuracy: 0.7409
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1782 - accuracy: 0.7411
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1783 - accuracy: 0.7412
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1783 - accuracy: 0.7412
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1780 - accuracy: 0.7415
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1781 - accuracy: 0.7417
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1780 - accuracy: 0.7421
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1780 - accuracy: 0.7422
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1779 - accuracy: 0.7418
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1780 - accuracy: 0.7415

#### Alternative Model 2

In [39]:
# Define the the number of inputs (features) to the model
number_input_features_A2 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A2

116

In [40]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [41]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 29

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

29

In [42]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [43]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, activation='relu', input_dim=number_input_features_A2))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation='sigmoid'))

# Check the structure of the model
display(nn_A2.summary())

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 29)                3393

 dense_8 (Dense)             (None, 1)                 30

=================================================================
Total params: 3,423
Trainable params: 3,423
Non-trainable params: 0
_________________________________________________________________

None

In [44]:
# Compile the model
nn_A2.compile(optimizer='adam', loss='mean_squared_error', metrics='accuracy')

In [45]:
# Fit the model
model_3 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1977 - accuracy: 0.7113
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1872 - accuracy: 0.7289
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1860 - accuracy: 0.7305
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1851 - accuracy: 0.7314
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1849 - accuracy: 0.7308
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1842 - accuracy: 0.7324
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1840 - accuracy: 0.7311
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1838 - accuracy: 0.7329
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1837 - accuracy: 0.7313
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1834 - accuracy: 0.7317
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1832 - accuracy: 0.7324
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1829 - accuracy: 0.7331
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1829 - accuracy: 0.7336
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1829 - accuracy: 0.7335
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1828 - accuracy: 0.7335
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1825 - accuracy: 0.7341
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1823 - accuracy: 0.7349
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1824 - accuracy: 0.7350
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1823 - accuracy: 0.7347
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1822 - accuracy: 0.7350
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1820 - accuracy: 0.7350
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1822 - accuracy: 0.7341
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1820 - accuracy: 0.7354
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1819 - accuracy: 0.7351
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1818 - accuracy: 0.7349
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1818 - accuracy: 0.7360
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1818 - accuracy: 0.7356
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1817 - accuracy: 0.7360
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1817 - accuracy: 0.7355
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1815 - accuracy: 0.7361
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1815 - accuracy: 0.7351
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1815 - accuracy: 0.7366
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1812 - accuracy: 0.7359
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1814 - accuracy: 0.7358
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1813 - accuracy: 0.7366
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1813 - accuracy: 0.7362
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1811 - accuracy: 0.7357
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1812 - accuracy: 0.7364
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1811 - accuracy: 0.7371
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1811 - accuracy: 0.7369
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1811 - accuracy: 0.7361
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1811 - accuracy: 0.7371
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1811 - accuracy: 0.7373
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1810 - accuracy: 0.7367
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1809 - accuracy: 0.7376
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1807 - accuracy: 0.7373
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1808 - accuracy: 0.7362
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1807 - accuracy: 0.7379
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1807 - accuracy: 0.7374
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.1808 - accuracy: 0.7374

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [47]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: 0.5990 - accuracy: 0.7301 - 503ms/epoch - 2ms/step
Loss: 0.599017322063446, Accuracy: 0.7301457524299622

In [48]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.1846 - accuracy: 0.7308 - 594ms/epoch - 2ms/step
Loss: 0.1845882534980774, Accuracy: 0.7308454513549805

In [49]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.1851 - accuracy: 0.7305 - 591ms/epoch - 2ms/step
Loss: 0.18506456911563873, Accuracy: 0.7304956316947937

### Step 3: Save each of your alternative models as an HDF5 file.

In [50]:
# Set the file path for the first alternative model
file_path = 'AlphabetSoup_A1.h5'

# Export your model to a HDF5 file
nn.save_weights(file_path)

In [51]:
# Set the file path for the second alternative model
file_path = 'AlphabetSoup_A1.h5'

# Export your model to a HDF5 file
nn_A1.save_weights(file_path)

In [53]:
# Set the file path for the third alternative model
file_path = 'AlphabetSoup_A1.h5'

# Export your model to a HDF5 file
nn_A2.save_weights(file_path)